<div class="content">
    <div class="card-container">

        <div>

            <!-- Form -->
            <div class="col-md-12">
                <h3>Add Employee</h3>
                <form [formGroup]="employeeForm" (ngSubmit)="submitForm()" novalidate>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Employee</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" formControlName="employee_name" class="form-control" maxlength="20">
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            
                            <label>Age</label>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control" formControlName="employee_age" rows="3" maxlength="50"></textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">

                            <label>Salary</label>
                        </div>
                        <div class="col-md-8">

                            <textarea class="form-control" formControlName="employee_salary" rows="3" maxlength="50"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">

                            <label>Age</label>
                        </div>
                        <div class="col-md-8">

                            <textarea class="form-control" formControlName="profile_image" rows="3" maxlength="50"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
    
        </div>
    </div>
   
</div>